@model IEnumerable<DashInvestimentos.Models.Movimentacao>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMovimentacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMovimentacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovimentacaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovimentacaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovimentacaoId">Delete</a> |
                <a asp-action="Close" asp-route-id="@item.MovimentacaoId">Close</a>
            </td>
        </tr>
}
    </tbody>
</table>
